@charset "UTF-8";

.form-sign-up{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: black;
}

.form-sign-up h4{
	margin: 50px 0px 10px 100px;
	color: grey;
	font-weight: 500;
	margin-bottom: 20px;
}

.signup-box{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

input[type=text], input[type=password] {
  	width: 100%;
  	padding: 10px;
  	margin: 10px 200px 10px 50px;
  	
  	border: thin;
  	background: #f1f1f1;
  	
  	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.signup-box button{
	width: 50%;
  	padding: 15px;
  	margin: 30px 50px 40px 150px;
  	
  	border: thin;
  	background: #f1f1f1;
  	
	align-items: center;
	justify-content: center;
}

.form-sign-up label{
	color: grey;
	margin: 10px 20px 10px 50px;
}

SELECT{
  padding: 10px;
}




