@charset "UTF-8";

/*Nút thêm*/
.btn-add {
	margin: 16px;
	margin-top: 0px;
}



/*Phần Show Thông tin*/
.card-btn {
	border: 1px darkgrey solid;
	border-radius: 5px;
	padding: 0px;
	transition: transform .08s; /* Animation */
}

.card-img-top {
	aspect-ratio: 1 / 1;
	background-color: white;
}

.card-btn:hover {
	border: 1px solid lightskyblue;
	transform: scale(1.08);
}


.card-title {
	overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.pagging--padding {
	padding: 20px;
}
